// $text-white : #a5a5a5;
$text-dark : #403F3D;
$text-light : #E1D4C9;
$text-accent : #B0907A;
$bg-body : #E1D4C9;
$bg-container : #665F55;
$bg-backdrop : rgba(64, 63, 61, 0.80);
$border-light : #C1B6AD;
$border-dark : #665F55;