.mobile {
    margin-bottom: 100px;
}

.mobile_wrapper {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.mobile_left_part,
.mobile_right_part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile_left_part {
    width: 50%
}

.mobile_right_part {
    width: 50%
}


.mobile_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    height: 100%;
}

.mobile_title {
    @include heading-2;
}

.mobile_word {
    @include heading-2-accent;
    color: $text-accent;
    // letter-spacing: -1px;
}

.mobile_desription {
    @include body-medium;
}

.mobile_buttons {
    display: flex;
    gap: 20px;
}

.svg_path path {
    transition: all 0.4s linear;
}

.mobile_btn {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid $border-dark;
    transition: all 0.3s linear;

    &:active .svg_path path {
        fill: $text-light;
    }

    &:active {
        background-color: $bg-container;
    }

    &:active .mobile_btn_title,
    &:active .mobile_btn_text {
        color: $text-light;
    }
}

.mobile_btn_content {
    min-width: 114px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2px;
}

.mobile_btn_title {
    transition: color 0.3s linear;
    @include body-caption;
}

.mobile_btn_text {
    transition: color 0.3s linear;
    @include action-link-button
}

.mobile_img {
    max-width: 630px;
    width: 100%;
    height: auto;
}

@media not all and (hover: none) {
    .mobile_btn:hover .svg_path path {
        fill: $text-light;
    }


    .mobile_btn:hover {
        background-color: $bg-container;
    }

    .mobile_btn:hover .mobile_btn_title,
    .mobile_btn:hover .mobile_btn_text {
        color: $text-light;
    }
}

@media screen and (max-width: 950px) {
    .mobile_wrapper {
        flex-direction: column;
    }

    .mobile_left_part {
        width: 100%;
    }

    .mobile_title {
        letter-spacing: -0.2px;
    }

    .mobile_right_part {
        width: 100%;
    }

    .mobile_wrapper {
        gap: 98px;
    }
}

@media screen and (max-width: 510px) {

    .mobile_wrapper {
        gap: 39px;
    }

    .mobile_title,
    .mobile_word {
        font-size: 32px;
    }

    .mobile_buttons {
        flex-direction: column;
        gap: 17px;
    }

    .mobile_btn {
        max-width: 200px;
    }
}