.header {
    height: 60px;
    margin-bottom: 21px;
}

.header_wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 100px;
    height: auto;
}

.header_main_page.menu_logo_disabled {
    cursor: auto;
}

.nav_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.nav_wrapper.nav_active {
    // left: 0;
    transform: translateX(-100%);
}

.nav {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.nav_item_link {
    position: relative;
    display: block;
    height: 100%;
    @include action-link-button;
}

.header_btn_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header_btn {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 7px;
    // height: 24px;
    @include action-link-button;

    &_logo {
        width: 20px;
        height: 20px;
    }
}

.hover_border {
    &::after {
        position: absolute;
        top: 100%;
        left: 50%;
        z-index: 2;
        display: block;
        content: "";
        width: 0;
        height: 2px;
        background-color: $text-dark;
        transition: all 0.5s linear;

        transform: translateX(-50%);
        opacity: 0;
    }
}

.menu_active {
    cursor: default;
}

.menu_active {
    cursor: default;
}

.menu_active::after {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 2;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $text-dark;
    transition: all 0.5s linear;

    transform: translateX(-50%);
    opacity: 1;
}

.burger_btn {
    display: none;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 100px;
    border: 1px solid $border-dark;
}

.burger_btn_icon {
    position: relative;
    width: 16px;
    height: 1px;

    &::after {
        top: 3px;
    }

    &::before {
        top: -5px;
    }
}

.burger_btn_icon::after,
.burger_btn_icon::before {
    position: absolute;
    z-index: 2;
    // transform: translateX(-50%);
    width: 16px;
    height: 2px;
    content: "";
    background-color: $border-dark;
    transition: all 0.3s linear;
}

.burger_btn.burger_btn_active {
    .burger_btn_icon {
        height: 2px;
    }

    .burger_btn_icon::after {
        top: 0;
        transform: rotate(-45deg);
        // translateY(-5.5px)
    }

    .burger_btn_icon::before {
        top: 0;
        transform: rotate(45deg);
    }
}

@media screen and (max-width: 768px) {
    .nav_wrapper {
        display: flex;
        padding: 75px 40px;
        position: fixed;
        z-index: 10;
        top: 81px;
        left: 100%;
        // left: 0;
        transform: translateX(200%);
        flex-direction: column;
        justify-content: flex-start;
        // height: calc(100vh - 60px);
        height: 100vh;
        background-color: $bg-body;
        gap: 93px;
        transition: transform 0.5s linear;
    }

    .nav {
        flex-direction: column;
    }

    .nav_list {
        flex-direction: column;
        gap: 52px;
    }

    .nav_item_link,
    .header_btn {
        font-size: 32px;
    }

    .header_btn {
        gap: 16px;
        align-items: center;
    }

    .header_btn_logo {
        width: 40px;
        height: 40px;
    }

    .header_btn_wrapper {
        height: auto;
    }

    .burger_btn {
        display: flex;
    }
}

@media not all and (hover: none) {
    .hover_border:hover::after {
        width: 100%;
        opacity: 1;
    }
}