.favorites {
    margin-bottom: 100px;
}

.favorites_wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.favorites_title {
    @include heading-2;
    text-align: center;
}

.favorites_word {
    @include heading-2-accent;
    color: $text-accent;
}

//slider ================

.favorites_slider_inner {
    display: flex;
    flex-direction: column;
    padding: 0 4px;
}

.favorites_slider_wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
}

.fav_clider_arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

//svg btns
.fav_clider_arrow svg {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.fav_clider_arrow svg:active {
    fill: $bg-container;
}

.svg_arrow {
    transition: all 0.3s ease-in-out;
}

.fav_clider_arrow svg:active .svg_arrow {
    stroke: $text-light;
}

//=============

.fav_slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fav_slider_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fav_slider_img {
    max-width: 480px;
    width: 100%;
    height: auto;
}

.fav_slider_cont_description {
    max-width: 480px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.fav_slider_description_title {
    text-align: center;
    @include heading-3;
}

.fav_slider_description_text {
    text-align: center;
    @include body-medium;
}

.fav_slider_description_price {
    text-align: center;
    @include heading-3;
}

.favorites_slider_pagination_wrapper {
    display: flex;
    justify-content: center;
}

.fav_pag_inner {
    display: flex;
    gap: 12px;
}

.fav_pag_element {
    cursor: pointer;
    width: 40px;
    height: 4px;
    background-color: $border-light;
    border-radius: 100px;
}

.fav_pag_active {
    background-color: $border-dark;
}

@media screen and (max-width: 768px) {
    .favorites_slider_inner {
        padding: 0;
    }

    .favorites_slider_wrapper {
        margin-bottom: 39px;
    }

}

@media screen and (max-width: 510px) {
    .favorites {
        margin-bottom: 101px;
    }

    .fav_clider_arrow {
        display: none;
    }

    .favorites_title,
    .favorites_word {
        font-size: 32px;
    }

}

@media not all and (hover: none) {
    .fav_clider_arrow svg:hover {
        fill: $bg-container;
    }

    .fav_clider_arrow svg:hover .svg_arrow {
        stroke: $text-light;
    }

}